name: CI/CD PIPELINE

on:
  push:
    branches:
      - main

jobs:
  CI:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t python-demo-app:${{ github.sha }} .

  CD:
    runs-on: ubuntu-latest
    needs: CI

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Stop old containers
        run: docker compose down || true

      - name: Start new containers
        run: docker compose up -d

      - name: Wait for app to be ready
        run: sleep 15

      - name: Health check
        run: curl http://app.localhost/health
